body {
  background: #e5e5e5;
  margin: 0%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 44px;
  background: #fff;
}

header .logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 20px;
}

header .logo a {
  text-decoration: none;
}

header .logo a:visited {
  color: inherit;
}

.headline-bg {
  background: url("./images/header-shapes-mobile.png"), #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 20px;
  border-bottom-left-radius: 70px;
  padding-bottom: 130px;
}

.headline {
  border: 1px solid #fff;
  padding-left: 25px;
  padding-right: 25px;
}

h1,
.about-myself h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  overflow-wrap: break-word;
  margin-top: 114px;
  margin-bottom: 0;
}

.headline-bg h1,
.about-myself h2 {
  color: #172b4d;
}

.second-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  overflow-wrap: break-word;
}

.headline .second-text {
  color: #344563;
}

.third-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
}

.media-icon {
  list-style-type: none;
  padding: 0%;
  margin-right: 19px;
  height: 30px;
  display: flex;
  gap: 19px;
}

.Works {
  display: grid;
  row-gap: 5.5em;
  margin-top: 7.125em;
  margin-bottom: 7.125em;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.Works .card {
  border: 1px solid #dfe1e6;
  padding: 1em;
  background: #fff;
  border-radius: 16px;
}

.Works .card h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  width: 70%;
}

.Works .card .frame2 {
  display: flex;
  padding: 0%;
  gap: 12px;
}

.Works .card ul {
  list-style-type: none;
}

.skills .items li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 9px 12px;
  background: #f7f7f9;
  border-radius: 8px;
}

.Works .card .frame2 li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.Works .card p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 214px;
  height: 24px;
}

.tag {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.action {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 12px;
}

button {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

button:hover {
  background: #6070ff;
  color: #fff;
  cursor: pointer;
}

button:active {
  background: #2230d2;
}

.about-myself {
  background: #fff;
  border-top-right-radius: 70px;
  padding-bottom: 100px;
}

.about-myself h1 {
  color: #172b4d;
}

.skills .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 35px 12px 0;
  padding: 12px 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.skill + .skill {
  border-bottom: 1px solid #dfe1e6;
}

.skills {
  list-style-type: none;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

.skills .items {
  padding: 0%;
  list-style-type: none;
  margin: 12px 20px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-me {
  background: url("images/Ellipse-3.png"), url("./images/Rectangle-4.png"),
    url("./images/Rectangle-7.png"), url("images/Ellipse-5.png") #6070ff;

  /* background-position: 145px 5px; */
  background-position: 100% 10%, 100% 5.5%, 88% 91.2%, 78% 92%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;

  /* background-size: contain; */
  padding-bottom: 45px;
  border-top-left-radius: 70px;
}

.contact-me h1 {
  color: #fff;
}

.contact-me h1,
.contact-me .second-text {
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.contact-me .second-text {
  color: #ebebff;
}

.form {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  padding: 15px 38px 15px 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.contact-me button {
  width: 142px;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}
